[2014-09-03 13:01] greelgorke opened #1 "Custom Style for the Page"
I have used a generic style from the GH-Pages Generator. But i'd like to see some custom style, more of a mash of nodeschool.io and Hamburg (maybe whites and reds?).

Volunteers?

[2014-09-03 13:13] greelgorke opened #2 "Organize first NodeSchool Event at HH"
This is the main Orga thread.
- [x] schedule the event (_see #8_)
- [x] contact some possible sponsors (_see #6_)
- [x] find the location
- [x] advertise the event
- [x] find some Mentors (_see #7_)

[2014-09-03 18:45] mdunisch commented on #2
Hello :-)

[2014-09-03 19:41] finnp commented on #1
How do you like http://nodeschool.io/berlin ? If you think it looks okay, I could help adapt the theme and give it a Hamburg look. I am originally from the area by the way (Elmshorn, d'oh).

[2014-09-03 19:41] finnp commented on #2
Depending on when we do this, I would consider coming to Hamburg for this.

[2014-09-04 06:35] greelgorke commented on #1
Its nice, i'd like that, if you are so kind to help us here :)

[2014-09-04 06:37] greelgorke commented on #2
Cool! I think about early november, may be earlier.

Hi @mdunisch, wanna join :)?

[2014-09-04 06:38] mdunisch commented on #2
sure ;-)

[2014-09-04 06:43] greelgorke commented on #2
When i'm in the office

[2014-09-04 12:58] ghost opened #3 "I want to join the NodeSchool"

[2014-09-04 21:03] finnp commented on #1
Okay I just pushed a new version: http://nodeschool.io/hamburg/

I like the Speicherstadt feeling. But I think the colors don't match nicely yet. So feel free to update the colors and experiment with it.

[2014-09-04 21:03] #1 closed, assigned to nobody

[2014-09-05 07:07] #3 closed, assigned to nobody

[2014-09-05 07:47] greelgorke commented on #1
awesome! thank you!

Colors are nice already, but i'll try around a bit when i get time and nothing else to do so far.

[2014-09-05 07:49] greelgorke opened #5 "If You want to JOIN, post here and we get you in!"
Just post a "hi" and be added to the team

[2014-09-08 11:21] greelgorke opened #6 "Sponsoring!"
# The first event got some love from Sponsors

Following things got sponsorship:
- [x] Location + WiFi by [NETEYE](http://www.neteye.de/)
- [x] Snacks by [codecentric](http://www.codecentric.de)

A Sponsor gets this perks:
- we promote the Sponsor on the event page and gh readme and the public issues with the tag "Sponsored by"
- the sponsor can place posters, give-aways and info material at the e

[2014-09-08 11:27] greelgorke commented on #2
Let talk about the **when**
- Workday or Saturday or Sunday?
- October, November, December?

currently i'd prefer the first Week of November.

[2014-09-08 13:37] robertkowalski commented on #2
+1 on a Saturday as there is more time and on Sunday folks don't want to leave the house

[2014-09-08 20:51] greelgorke opened #7 "Mentors Wanted!"
Hello Node.js pros!

You know Node.js? You wanna help others to become a Node.js developer? You are right here!

Put your name here and we create some awesome Node.js learning time!

_this post is a sub-task of #2 for mentors searching_

[2014-09-09 15:01] robertkowalski commented on #7
Robert Kowalski

[2014-09-09 16:15] mdunisch commented on #2
+1 Saturday

[2014-09-09 16:16] mdunisch commented on #7
Martin Dunisch

[2014-09-10 11:04] greelgorke commented on #7
Gregor Elke, duh

[2014-09-10 11:06] finnp commented on #7
Finn Pauls

[2014-09-10 11:09] greelgorke opened #8 "Schedule first Event in Hamburg - Doodle"
here is the [doodle](http://doodle.com/w6dzuhg59nz8nzqg)

Please put yourself in ;)

[2014-09-10 11:10] greelgorke commented on #2
Doodle Link in #8 !

[2014-09-10 11:12] greelgorke commented on #2
I'll advertise it on Monday at the HH.js

[2014-09-11 06:32] fgnass commented on #7
Felix Gnass

[2014-09-11 11:56] greelgorke commented on #7
@fgnass nice, i invited you to the team :+1:

[2014-09-12 11:21] fgnass opened #9 "Hexagon Logo"
My co-worker @oleharland made a hexagon version of the NodeSchool HH logo in the spirit of [this guide](https://github.com/nodeschool/nodeschool.github.io/tree/master/images/make-a-sticker):
![nodeschool-hamburg](https://cloud.githubusercontent.com/assets/89450/4248994/86f9ba40-3a6e-11e4-8164-e4e5791c126d.png)

What do you guys think?

[2014-09-13 00:54] finnp commented on #9
Wow, that looks awesome! We should totally make a sticker out of it :)

[2014-09-15 06:45] DJCordhose commented on #5
Hi!

[2014-09-15 07:00] greelgorke commented on #9
cool! do you wanna push it to the repo?

I'll look into the sticker thingy soon. wanna stickers for node.HH too

[2014-09-15 07:00] greelgorke commented on #5
@DJCordhose you've got an invita :)

[2014-09-15 08:27] codingCookie commented on #5
Heiho :)

[2014-09-15 08:28] fgnass commented on #9
Here it is: ba21931a178d7c52c53d8f28f2a4239219fd241d

[2014-09-15 08:28] greelgorke commented on #5
@codingCookie got invite

[2014-09-15 08:29] greelgorke commented on #9
awesome

[2014-09-15 08:32] greelgorke commented on #9
@finnp shall we use this instead of your version? both are nice, but i think this one is a better fit, since most other chapters adapt this design. what do you think?

[2014-09-15 11:23] finnp commented on #9
Yeah I mean it certainly looks better, but with it hexagon shape it doesn't fit all purposes. So I am fine with using both. I think it wold be also nice to create a logo similar to mine, but based on this hexagon design more more consistency.

[2014-09-15 11:26] finnp commented on #8
Do we have a date? Looks like November 1 works for everybody until now.

[2014-09-15 11:57] greelgorke commented on #8
i have to check it for myself. 50% of my saturdays are used up already

[2014-09-15 12:01] greelgorke commented on #9
ah i see, it's supposed to be for stickers. so i'm ok with using both also. your logo is a better fit for banner-like usage

[2014-09-15 12:34] fgnass commented on #9
I'm sure @oleharland can make us a rectangular version with a full-width [school house](http://nodeschool.io/images/schoolhouse.svg) but with the Hamburg symbol taken from the hexagon. I'll go ahead and ask him ;)

[2014-09-15 13:49] finnp commented on #9
@fgnass Awesomeness!

[2014-09-15 13:55] greelgorke commented on #9
:+1:

[2014-09-15 16:26] finnp commented on #9
@fgnass One thing: It should be black on transparent like the [original](http://nodeschool.io/images/schoolhouse.svg) :)

[2014-09-15 17:07] greelgorke commented on #9
@fgnass i'd like to have the node hexa-n char instead of the cross

[2014-09-15 18:21] usefulthink commented on #7
Count me in!

[2014-09-15 18:30] greelgorke commented on #7
tap! you're in!

[2014-09-15 19:04] fgnass commented on #9
Hm, to be consistent with the overall look, the "n" would have to be drawn as hollow shape (i.e. only the outline) but at that scale the stroke would need to be considerably thinner.

Using http://nodejs.org/images/logos/js-black.svg would probably work better, but I guess this wouldn't be in line with Joyent's [trademark policy](http://nodejs.org/images/trademark-policy.pdf). Not using any tradem

[2014-09-15 19:07] greelgorke commented on #9
they are pretty liberal for user groups and open source communities, aren't they?

[2014-09-15 19:29] fgnass commented on #9
I guess so :) I just thought that removing the "TM" (by scaling it down to being practically invisible) might be a little crude, especially as the policy explicitly states this as a "DON'T". But I'm with you, adding some more node references would be fun!

I just saw that you'll be at the NETEYE office tomorrow, that's awesome! I'll try to be there too, so I can introduce you to Ole. I'm sure he'l

[2014-09-15 21:01] afknapping opened #10 "promotion material"
i am thinking of a tiny promo package that can be used for example by the geekettes, open tech school, digital media women, etc to post a quick update about the event.
- brief explanation what this is about (~5 sentences)
- motivation and explicit warm welcome to join
- date, time, location, requirements, link to ticket
- some nice photos from past events and the hamburg logo illustrations

i will

[2014-09-15 21:08] afknapping commented on #9
<3 the illustration. Suggestion though: Hamburg has The Hamburg Red™ ([#e30613](http://www.hamburg.de/contentblob/9994/thumbnail/headnavigationdesktop-fm.gif) methinks), would be nice to stay with it :)

[2014-09-15 21:18] greelgorke commented on #9
lookma https://www.hamburg.de/wappen/

@fgnass we could contact Joyent on that or just let the js out of this, turn the stars to hexagons and the cross to n and let it be.

[2014-09-16 09:13] greelgorke commented on #10
cool! thank you for doing this.

[2014-09-16 09:34] greelgorke opened #11 "to ticket or not to ticket"
this is  a question i want to discuss once.

we have this options:
1. free for all, fully sponsored
   - \+ lowest barrier for entrance
   - \+ no/few financial administration required
   - \- expected rate of non-appearances is higher
2. deposit fee, fully sponsored
   - \+ registration is more binding and reliable
   - \- more financial administration is required (including possible lawering)
3.

[2014-09-16 09:39] greelgorke commented on #11
at the moment i prefer option 1. but i'm open to arguments

[2014-09-16 09:47] usefulthink commented on #11
the main question would be how big our investment per person will be. That basically determines if there is a need to reduce the no-show rate by some sort of deposit.

I would really prefer option 1. - it should be no problem to get a location and some drinks sponsored.

[2014-09-16 09:54] fgnass commented on #11
I also prefer option 1. Having free tickets on https://ti.to (or a similar platform) would probably be a good idea.

[2014-09-16 10:19] mdunisch commented on #11
I would prefer the **2nd option**. I mean: even if the ticket only cost 1€ it might be a little bit more reliable. I'm a little bit afraid of in the end people they wanted to join can't contribute because of so many people getting a ticket and don't come because it's for free.

Maybe something for the lawering-problem: What about you have to donate say 1€ to Mozilla Foundation or Apache Foundation

[2014-09-16 10:39] fgnass commented on #11
We could invite people to come even if they didn't get a (free) ticket and put them on a waiting list like HH.JS does. We should also encourage the ones who RSVP'd to return their tickets if they can't make it to the event.

[2014-09-16 11:24] greelgorke commented on #11
the problem with the invitation and waiting lists, as in HH.js and node.HH is, that it just doesnt work in practice. last 2 node.hh had over 40 rsvps but 20-30 appeared. thats ok for a talk night, especially when you have not tha much costs (assuming a non-rented room and drinks payed by usage.) But in the event with longer runtime, catering, setup efforts (wifi and workstations) the drop out rate

[2014-09-16 12:01] fgnass commented on #11
Since we all want this event to be as open and accessible as possible, we could only charge a very tiny amount. It would have to be so small, that people probably wouldn't even care if we donated their fee.

What about writing something like the following in big letters above the "Get a Ticket" button instead?
- Don't get yourself a ticket unless you are absolutely sure you'll make it.
- Don't wor

[2014-09-16 12:12] afknapping commented on #11
some 1st + 2nd hand experiences:
- "real" tickets (tito, amiando, eventbrite) are good, because feels valuable
- free is good
- a waitinglist is good
- overbooking capacitiy is good to make up for noshows (maybe 10% for the start, if no show rate is higher, adjust at follow-up events)
- no fee is high enough to prevent no-shows. that only starts in the hundreds of bucks. if people do not feel well

[2014-09-16 12:20] afknapping commented on #6
i could ask at commerce plus (but sb else would have to do the actual orga stuff then, sorry). we did github from scratch there, was the _perfect_ location for rhis kind of thing.

Would not go with a location that doesn't bring Wifi too, too much overhead.

And as mentioned in the other ticket, don't do catering. too much hassle.

prominent mentor has very little (no?) value for attendees :)

[2014-09-16 12:25] timoxley commented on #11
We had same problem in singapore. 85 people rvsped, 40+ people on waitlist begging me to open up a slot for them… then only ~35 people showed up, meaning those people on the waitlist missed out needlessly.

We went from ~50% no-shows to ~10% no-shows at the next event simply by charging a few dollars ($10 SGD) which we were able to use to purchase refreshments for attendees.

[2014-09-16 13:26] greelgorke commented on #6
i'm meeting with a potential location sponsor (first come first served), but it's good to have a few options for sure.

About WiFi: this is ideal, when the location has good wifi already. but [this](http://hackygolucky.com/pdxnode-presents-nodeschool-io/) could happen too, and wifi just doesn't handle it right.

About workstations: i expect, that the attenders bring their own machines. however, it

[2014-09-16 13:39] greelgorke commented on #11
I think, free entrance and begging for good behavior just don't work well. when you can't plan a bit, it doesn't matter if ppl are either evil, lazy or lost their heads and didn't cancel in a proper way.

Still, i'm not that comfortable with handling money in any case, yet. Having a ticket, even if it's free, may do some positive.

With Catering, i don't mean a full blown thing, with serving etc.

[2014-09-16 16:55] usefulthink commented on #6
@filtercake already thought of them as well. Since I know everyone there (I have worked there for around 10 years) I could take care of asking them.

[2014-09-16 17:34] greelgorke commented on #6
Neteye will host the first event :) Thank you @fgnass for making contact. Really a nice location imo

[2014-09-16 17:59] afknapping commented on #2
ah, didn't catch this – since berlin was an evening event, i thought this will be too :)

then having something for lunch makes sense of course, sorry.

[2014-09-16 18:01] afknapping commented on #6
@greelgorke @fgnass awesome :+1:

@usefulthink +1, maybe for the second event then...

[2014-09-16 18:16] afknapping commented on #10
nicely cropped photos (and filtered, yay): http://hackygolucky.com/pdxnode-presents-nodeschool-io/

i asked on twitter if we can use them.

[2014-09-16 18:43] afknapping commented on #10
(first draft)

Always wanted to look into programming but didn't know how? Well, the NodeSchool is coming to Hamburg. At this community-organized, non-profit event you can make your first steps in learning Node, which is based on the JavaScript programming language. While every attendee works through the material by themselves, there will be experienced mentors to help you with any questions.

You

[2014-09-16 18:44] afknapping commented on #10
We can use the photos. Credit: PDXNode

(https://twitter.com/HackyGoLucky/status/511946725167476737)

[2014-09-16 18:49] hackygolucky commented on #10
You rock, Hamburg!

On Tue, Sep 16, 2014 at 2:44 PM, filtercake notifications@github.com
wrote:

[2014-09-16 18:51] greelgorke commented on #10
@filtercake there is a whole bunch of blog posts on past events on http://nodeschool.io/host.html :)

Thank you @hackygolucky ! you rock too :)

[2014-09-16 22:42] afknapping commented on #10
hi @hackygolucky and thx! <3

@greelgorke yeah, i skimmed those but found nothing about promotion. and i totally missed the obvious https://ti.to/nodeschool-berlin/jsfest-2014 :D will give it another go tomorrow...

[2014-09-16 22:43] afknapping commented on #10
also: having _some_ JS experience is actually a requirement...

[2014-09-17 08:52] greelgorke commented on #10
@filtercake the location is that of neteye.de

[2014-09-17 09:01] mdunisch commented on #8
@greelgorke: So what about the 1st november? Did you check if we can use the rooms of NetEYE at this date?

[2014-09-17 09:46] greelgorke commented on #8
we can.

but i'd like to wait with closing the doodle till friday

[2014-09-17 11:12] usefulthink commented on #11
i am completely +1 for the ideas here and think that suggestions from @fgnass and @filtercake on communicating the problem with no-shows should be enough to have a quite reliable approximation how many people will show up.

Also very much in favour of

[2014-09-17 11:44] olizilla commented on #11
For what it's worth, we used to do free tickets + all sponsored at nodeschool london, but we switched to small ticket fee + no sponsors.

The main reason was with free tickets we had roughly 50% of people not show up. For that last event we charged £5 per ticket and > 90% of them turned up. We spent the money on fruit, veg and dips, for maximum brain energy to cost per kg!  Everyone was eating ban

[2014-09-17 11:53] afknapping commented on #11
@olizilla @timoxley thx for the input. good to know that ticket fees actually _do_ help in this context :)

[2014-09-17 13:06] greelgorke commented on #11
@olizilla how do you handle the financial stuff then? i don't realy want to be personally accountable for the money tbh

[2014-09-17 13:12] olizilla commented on #11
We don't have a good solution for that yet. The tickets are through tito, the money sits in stripe and a slice gets taken off for processing fees. We are responsible for it, and we'll have to come up with some structure for dealing with it. We ran the last one as a test, and it worked for us, so we'll be figuring out the rest as we go.

[2014-09-18 10:50] brajeshmehra commented on #5
hi

[2014-09-22 14:42] finnp commented on #9
Does anyone of you know where to print those Hexagon stickers in good quality? Because the StickerMule shipping costs to Germany are like 30 Euro. If anyone of you has an idea, we could order a batch of stickers for NodeSchool Berlin and Hamburg.

PS: I started making a list over here: https://github.com/nodeschool/berlin/issues/3

[2014-09-23 06:15] greelgorke commented on #9
@finnp @fgnass told me, his logo designer will take care about sticker printing, may be you both chat about it?

[2014-09-23 06:20] greelgorke commented on #8
Looks like it's the 1.11.

Before i close this issue, one detail is to get cleared there: the time. I thought about this options:
- 10-17 (7h)
- 13-18 (5h)
- 13-20 (7h)

it's Saturday, so i don't expect anyone earlier than 10, even that may be a bit too early i guess.

[2014-09-23 06:21] mdunisch commented on #8
13-18 (5h) :+1:

[2014-09-23 06:35] fgnass commented on #9
Hey guys, I'm currently sick and therefore not in the office, but I'm sure Ole can take care of this. I'll talk to him tomorrow when I'll (hopefully) feel better. Expect an update by the end of the week.

[2014-09-23 06:36] fgnass commented on #8
13-18 (5h) :+1:

[2014-09-23 07:03] codingCookie commented on #8
10-17 (7h) :+1:

I think 10 isn´t too early....maybe start at 10h with the "welcome and arriving"-stuff start with official welcome and introduction etc at 11h and end by 18h....maybe?

[2014-09-23 08:40] robertkowalski commented on #8
13-18 (5h)

[2014-09-23 13:02] finnp commented on #8
13-18 (5h) :yum:

[2014-09-24 09:22] ghost commented on #8
10-17 (7) :+1:

[2014-09-24 09:28] afknapping commented on #8
13-18 (5h) :+1:

[2014-09-25 09:33] fgnass commented on #9
@oleharland is on it. He's getting a quote from http://www.cutandprint.de/ who are super nice and provide awesome quality. How many stickers do we need? 50, 100, 200?

BTW, have you seen https://github.com/terinjokes/StickerConstructorSpec?

[2014-09-25 10:58] greelgorke commented on #9
@fgnass @oleharland could you put node.HH stickers with it? i can provide you with an eps for that.

i think 100 ea/per sticker is fine for now.

[2014-09-25 10:59] fgnass commented on #9
@greelgorke sure!

[2014-09-25 12:12] greelgorke commented on #9
@fgnass can i mail it to you or @oleharland ?

[2014-09-25 12:43] fgnass commented on #9
@greelgorke if you send it to `fgnass at gmail com` I'll take care of it.

[2014-09-25 15:10] greelgorke commented on #8
ok, i see. here's the idea:

let's do it in two parts, the main track and the pre-track.

The main track will be 13-18 and be workshopping.

before that, starting by 12 (or even at 11?) we will run a small crash course into javascript and cli basics. As i read in other discussions, there may be attenders, who's not familiar with JS or a the terminal, and need some advice here first.

How is that?

[2014-09-29 08:39] greelgorke commented on #8
silence is a sign of acceptance, right? :)

[2014-09-29 08:41] fgnass commented on #8
:+1: having a pre-track for beginners is a great idea. Let's do this :)

[2014-09-29 08:54] greelgorke commented on #8
fine.
1. November 2014
2. Starting at 11:00 with a crash course in JavaScript and CLI basics.
3. Following with the actual NodeSchool at 13:00 till 18:00

i'll write a something for the website, then we can announce it.

[2014-10-01 11:06] greelgorke commented on #8
OK I have a problem. I definitely can't be there on the 1. November. We have two options: Either we move it a week further to the 8.11.  or somebody of you have to step up and take the "field moderator" responsibility on this day. I'd prefer the shift, since i really want to be there, but i also would accept the replacement option.

Opinions?

[2014-10-01 11:36] ghost commented on #8
+1 for the shift

[2014-10-01 13:44] codingCookie commented on #8
i´m very very sad...but i can´t be there on both dates :(
but i would give +1 for the shift :)

[2014-10-01 18:11] fgnass commented on #8
8.11. is fine for me too. Doing the event without you would simply feel wrong ;)

[2014-10-01 18:16] fgnass commented on #9
Woohoo, the stickers are ready! :smile: I guess they'll be in the mail by Monday. I'll post pictures once I have them.

[2014-10-01 20:27] greelgorke commented on #9
WOOOOOH

[2014-10-11 11:55] greelgorke commented on #2
i need someone to write some text for the event announcement on nodescool.io and tito. anybody? i didn't found time, i think wont till thursday of the next week. volunteers?

[2014-10-13 11:52] mdunisch commented on #8
Oh sorry - I recently filled out the eventform at nodeschool.io and sent the 1.11. - I did't see the topic here. But I'll write a email soon to cancel this submission.

About the Date: 8.11 is fine for me, too.

@greelgorke: Want we fix this date? It's not very long until the 8.11. and we definitely should start promoting the event!

[2014-10-13 12:40] greelgorke commented on #8
yes it is fixed, i cleared that with Neteye.

**8.11. 11-13-18 it is**

[2014-10-13 12:40] #8 closed, assigned to nobody

[2014-10-13 13:26] mdunisch opened #12 "hamburg-page + tickets"
I updated the nodeschool.io/hamburg (adding the event and link join to a ti.to-page).
I also created a ti.to-Event for our node-school (https://ti.to/nodeschool-hamburg/nodeschool-hamburg).

@greelgorke: I added you as a teammember (google-adress).

One thing before i would like to open the registration-process: How many tickets we should offer? How many places we have at netEye? I propose to offe

[2014-10-13 13:39] mdunisch commented on #11
I would say let's make the tickets free for our first event and just offer a few more tickets than we have place for people.

I really like the idea of a very small price but I'm totally with @greelgorke - handling the money is really pain.

Because we only have 30 days left: Just start our first event and let's see how it works - we can make ticket fees in the future!

[2014-10-13 13:40] greelgorke commented on #11
@mdunisch yes free tickets pls

[2014-10-13 13:40] #11 closed, assigned to nobody

[2014-10-13 13:44] greelgorke commented on #12
@mdunisch thank you, for stating that.

i think 30 ppl would be a nice start, @fgnass what do you think, enough space for that?

[2014-10-13 13:48] mdunisch commented on #7
@greelgorke, @finnp, @fgnass, @usefulthink, @robertkowalski
Now that we have a date: Please confirm that you can attend.

For that: at https://ti.to/nodeschool-hamburg/nodeschool-hamburg we have a ticket-category "NodeJS Mentor" - please take a ticket so we have your contact-details!

[2014-10-13 13:49] fgnass commented on #12
I'd say one floor should be enough for 30-40 people. If we exceed this number we should consider opening a second floor (which would be no problem).

[2014-10-13 13:52] mdunisch commented on #12
So than I'll put **50** tickets on ti.to (for a few no-showers) and if we see more interests we increase the number after talking to @fgnass.

ok @greelgorke, @fgnass ?

[2014-10-13 13:52] fgnass commented on #12
:+1:

[2014-10-13 13:53] greelgorke commented on #12
great!

[2014-10-13 14:12] mdunisch commented on #12
ok done!

[2014-10-14 08:07] mdunisch commented on #6
@greelgorke should i add the 2 sponsors to the Event-Page and ti.to?

[2014-10-14 08:16] fgnass commented on #6
@mdunisch could you change `NetEye` and `Neteye` on the ti.to page into `NETEYE`?

In case you need a logo, here is ours:

![neteye_logo_pos_black](https://cloud.githubusercontent.com/assets/89450/4625768/44ef5680-537a-11e4-8571-4ec8c22fae81.png)
![neteye_logo_pos_rgb](https://cloud.githubusercontent.com/assets/89450/4625770/49873230-537a-11e4-9d34-4bceee958e7d.png)

[2014-10-14 08:32] mdunisch commented on #6
@fgnass
Thank you - I updated the typo and removed the googlemaps on the bottom of the page - it was impossible for me to drop the ping right so the address on the top is better ;-)

I take care of the implementation of the sponsors this week, @greelgorke can you send me a logo of codecentric?

[2014-10-14 13:17] mdunisch opened #13 "Ticket summary"
(I'll update this from time to time)

Mentors: 6
Attendes: 50 -sold out-

Keep on promotion our nodeschool! :yum:

[2014-10-14 14:19] ghost commented on #13
I just announced the event in the betahaus and Hamburg Startups facebook groups a thew minutes ago.

[2014-10-14 14:23] greelgorke commented on #13
I did
- the twitter thing,
- mailed to Diana of Geekettes
- updated the corresponding node.hh event on meetup.

i also have extended the informations on tito with a few more explanations and added the CoC hint.

[2014-10-14 14:25] greelgorke commented on #7
@ Mentors: everyone, who will be there: please look in to the courses, play a bit with them. Also there is the new [js beginner course](https://github.com/sethvincent/javascripting), i think we will use at the event.

[2014-10-14 14:26] greelgorke commented on #7
We also certainly should have at least one Mentor who's experienced with the setup on a Windows machine (i know, most of us are using mac or linux right?)

[2014-10-15 09:47] greelgorke commented on #6
i added the sponsors yesterday, but without logos, so go ahead and make it better than i did :)
for codecentric log you can use this http://www.codetalks.de/wp-content/uploads/2014/07/Logo_codecentric-1024x169.png

[2014-10-15 09:50] greelgorke opened #14 "Catering"
We need a bit of catering. Some snacks etc. enough for a lunch. Here i need some suggestions, where i can ask for an offering.

Ideas?

[2014-10-15 10:01] mdunisch commented on #14
http://www.ohitsfresh.de/
Had multiple events where they to the catering and it was always great - but I don't know how expensive this was.

[2014-10-15 10:31] mdunisch commented on #6
I inserted the logos and updated the event description (adding german)

[2014-10-15 11:41] fgnass commented on #14
http://www.mikkels.de/catering/

[2014-10-15 12:02] ghost commented on #14
I’ve made some got experiences with
http://www.eatclever.de/=

[2014-10-15 12:05] fgnass commented on #14
Awesome coffee:
http://www.publiccoffeeroasters.com/leistungen/
http://blackdelight.de/catering.html

[2014-10-17 09:11] greelgorke commented on #9
@fgnass any update on this? :)

[2014-10-17 09:29] fgnass commented on #9
We have them here but are neither happy with the colors nor the material. We'll order another batch from a different supplier.

[2014-10-20 07:49] mdunisch commented on #13
I'm happy to see that we are on a good way with the tickets - thank you all for promoting! :+1:

[2014-10-20 09:50] fgnass commented on #6
There's a typo on the ti.to page: `s/Snacks is sponsored/Snacks are sponsored/`

[2014-10-20 09:51] mdunisch commented on #6
thank you @fgnass - fixed :-)

[2014-10-21 09:00] mdunisch commented on #12
So @greelgorke, @fgnass  we are almost full (47 at the moment) :smile: . I think we should:
- not offer more tickets because we only have 6 Mentors at the moment
- send a email to all attendees 10 days before, see: https://github.com/nodeschool/hamburg/wiki/Email-(10-days-before-event)

[2014-10-21 09:15] #13 closed, assigned to nobody

[2014-10-21 18:18] sebs commented on #5
hi

[2014-10-22 06:03] greelgorke commented on #5
@sebs invite is out

[2014-10-22 06:04] greelgorke commented on #5
@brajeshmehra sorry, somehow i missed you. got invite too :)

[2014-10-22 18:10] mdunisch commented on #12
@greelgorke can you handle the emailing 10 days before? I won't be at the computer at the 29th.

[2014-10-23 06:53] greelgorke commented on #12
sure

[2014-10-30 07:03] mdunisch commented on #12
@greelgorke Have you sent the email yesterday?

[2014-10-30 11:16] greelgorke commented on #12
i did now :D, yesterday was a full-packed day

[2014-10-30 12:40] Dariusch commented on #5
hi

[2014-10-30 13:08] labs-scnm commented on #5
Moin! :)

[2014-11-02 12:59] mnlfischer commented on #5
Heyho! :)

[2014-11-05 16:02] greelgorke commented on #14
ordered by ohitsfresh, for 60 persons.

[2014-11-05 16:02] #14 closed, assigned to nobody

[2014-11-05 16:02] #12 closed, assigned to nobody

[2014-11-05 23:32] robertkowalski commented on #7
I got a nice tip from @wraithan from PDX who has mentored alot that I want to share and also propose: folks that need help should try to ask their neighbor first. Just if that does not help, they should raise their hand for a mentor. This way we can help a lot of people with the relatively small amount of mentors.

Let's try lazy consensus regarding that: you don't need to reply if you think it is

[2014-11-06 00:24] wraithan commented on #7
We've found that this really solidifies the lesson in people as well. And they feel empowered to work together on problems instead of feeling like they have to solve everything themselves. Basically we are teaching them to pair program without using that (slightly buzzword-y) word. Happy to discuss this if anyone has questions.

[2014-11-06 06:50] greelgorke commented on #7
this is a good idea, and i thought about it already too. this is the same experience from learning groups at universities, and the work quite well there. i will definitely encourage this on Saturday

[2014-11-08 22:41] finnp commented on #2
@greelgorke I just edited the Berlin Feedback form for Hamburg. It's quite short, but if you like it you can just use it. It's only in English though.

[2014-11-09 10:29] sghosh23 commented on #5
hi, i went to the workshop of nodeschool. I want to join this group.

[2014-11-09 11:51] F-DK commented on #5
Hey geeks and geekettes.

[2014-11-11 09:00] greelgorke commented on #10
@filtercake what about this, anything done?

[2014-11-11 09:01] greelgorke commented on #9
Stickers are nicely done! thanx!

[2014-11-11 09:01] #9 closed, assigned to nobody

[2014-11-11 09:01] greelgorke commented on #2
i need a link @finnp  :)

[2014-11-11 09:01] #2 closed, assigned to nobody

[2014-11-11 09:01] #6 closed, assigned to nobody

[2014-11-11 09:02] greelgorke commented on #7
Thanks everybody! it was a nice Event

[2014-11-11 09:02] #7 closed, assigned to nobody

[2014-11-11 10:29] fgnass commented on #10
Here are the photos @oleharland took at NETEYE last Saturday: https://twitter.com/140eyes/status/531746205748195329

[2014-11-11 12:09] afknapping commented on #10
sorry, didn't have time to keep working on this. will close for now because of this, apologies :/

[2014-11-11 12:09] #10 closed, assigned to nobody

[2014-11-11 12:18] greelgorke commented on #10
no problem @filtercake, we had enough attendees :)

[2014-11-11 13:08] riandree commented on #5
hi, really enjoyed the 1st nodeschool event at neteye !! thanks a lot !

[2014-11-11 13:10] greelgorke commented on #5
everybody raised the hand so far, got an invite, pls check your mails

[2014-11-19 21:38] robertkowalski opened #16 "idea: nodeschool on 2015-02-08"
Hi there,

the last nodeschool was really fun and I am looking forward to the next one.

We are having a CouchDB Day on Saturday, the 7th of February in Hamburg. There will be some folks from Germany and the EU being in Hamburg for the weekend.

Inspired from the nodeschool after this years JSConf EU on Monday as part of the JSFest (http://jsfest.berlin/) I wanted to ask if there is interest in do

[2014-11-19 21:42] finnp commented on #16
Sounds like a good idea :+1:

[2014-11-19 21:43] robertkowalski commented on #16
Here is the url to our event (forgot that to mention): http://day.couchdb.org/

[2014-11-19 21:56] andywenk commented on #16
awesome :) Thanks !!!

[2014-11-20 07:06] greelgorke commented on #16
Yeah, will be great!

[2014-11-30 13:47] lihang1870719 opened #17 "Hi"
Hi

[2014-11-30 13:47] lihang1870719 commented on #17
Hi

[2014-12-01 08:37] greelgorke commented on #17
hi @lihang1870719 !

[2014-12-10 13:33] #17 closed, assigned to nobody

[2014-12-10 13:41] greelgorke opened #18 "Node School Event in February 2015"
This is the main Orga thread. As @robertkowalski suggested in #16 we'll create a fest-type event series, and NodeSchool will take place. Now, we will do some orga stuff.

- [x] schedule the event: 08 Feb 2015
- [x] contact some possible sponsors
    - Interone: Location, Drinks
    - codecentric: Food
- [x] find the location (Interone, Zirkusweg 1 (Atlantikhaus), 19 Floor)
- [x] advertise the even

[2014-12-10 13:43] greelgorke commented on #16
see #18

[2014-12-10 13:43] #16 closed, assigned to nobody

[2014-12-10 15:19] greelgorke opened #19 "Idea: NodeSchool Office Hours"
weekly or every two weeks
1 or 2 mentors
public location
1-2 hours
no ticketing or pre-orga
everyone is invited to come

if you have a question or just want to hangout and go through a workshopper come and do it.

the only thing guaranteed is that there will be a Mentor at the place.

what do you think @nodeschool/hamburg-mentors

[2014-12-10 15:33] usefulthink commented on #19
to me that would depend a bit on the location and things i can do if nobody shows up.
But it's a really neat idea and I'd love to see if this concept works.

[2014-12-10 15:36] greelgorke commented on #19
the location would pretty much depend on the mentor. basically this would go like:

me as mentor announce that i'll be at 18-19:30 in Schanzenstern St.Pauli and drink my Tee there. Anybody can join me there then.

Of course this would be announce properly and in advance, may be a week before or something.

[2014-12-12 21:01] robertkowalski commented on #18
whooohoo! what do you think, when is the best time to put the date on our homepage and fire up twitter?

[2014-12-16 10:17] greelgorke commented on #18
@robertkowalski i think we already can start to advertise. i think i'd get a room easily for that. food and drinks are another thing, if we get some sponsor there, that would be great.

[2014-12-16 10:18] greelgorke commented on #19
anyone else from @nodeschool/hamburg ?

[2014-12-26 00:25] robertkowalski commented on #18
We would need a link target, I started to add a date to the nodeschool-hamburg website, having a location and a ticket link would be cool.

[2014-12-26 00:30] robertkowalski commented on #19
Yes, if at least one person joins me for the evening (tweet me at @robinson_k one week in advance or post another way to communicate here)

[2015-01-03 19:41] ghost commented on #5
Hi!

[2015-01-07 01:25] robertkowalski commented on #18
happy new year! we would love to start advertising the event, but we still need a location and an updated nodeschool website, any news regarding that?

[2015-01-07 13:29] greelgorke commented on #18
i probably got a room already, just need to verify. then we need a sponsor for beverages and mentorZ

[2015-01-07 23:05] robertkowalski opened #21 "Mentors wanted: nodeschool on the 8th February 2015"
There will be a nodeschool again and we are looking for mentors!

I was a mentor last time and it was mindblowing! I can really suggest mentoring to anyone, so many nice folks and such a warm & fuzzy feeling in the evening I went home.

Who's joining?

[2015-01-07 23:08] fgnass commented on #21
I'm in.

[2015-01-08 05:54] mdunisch commented on #21
Me too.
I can set up the ti.to Ticket system again

[2015-01-08 09:48] hanshnrch commented on #5
Hi!

[2015-01-08 14:14] greelgorke commented on #21
@mdunisch already done :)

for me, i'm not sure if i'll be able to be there. but shouldn't be much of a problem

[2015-01-09 12:21] haveagoodone commented on #5
Hi

[2015-01-09 21:35] greelgorke commented on #18
Location: Interone, Zirkusweg 1 (Atlantikhaus), 19 Floor

[2015-01-09 22:22] robertkowalski commented on #18
updated the location for the tito site!

On Fri, Jan 9, 2015 at 10:35 PM, Gregor Elke notifications@github.com
wrote:

[2015-01-14 10:28] fmoliveira commented on #9
Awesome job @oleharland @fgnass ! Congratulations! :smile:

[2015-01-14 10:39] greelgorke commented on #18
we schould meet once and talk about the organisation. i'm pretty sure, i wont be there on 8th. i've got too much to do around that day and would rather use the sunday for family. But still i'd do the things needed to organize, just need someone to take over the hat at day. @robertkowalski @fgnass what about you guys?

[2015-01-14 10:55] fgnass commented on #18
I'll be there. I'd like to talk about the pre-school event for the total beginners. My impression was that the javascripting workshopper was not ready for prime-time yet and was quite frustrating for a lot of attendees. [Codeacademy](http://www.codecademy.com/tracks/javascript) for example provides a much better learning experience for non-programmers. It would be cool if there was a version of ja

[2015-01-18 00:16] greelgorke commented on #18
@fgnass @robertkowalski i'd like to meet you next week either on monday or friday. lets do lunch together and talk about it.

[2015-01-18 14:40] robertkowalski commented on #18
Hi Gregor,

sadly I don't have time tomorrow.

I am quite busy currently because of the JS Unconf and CouchDB Day. I think
I am not going to make it to the nodeschool event in February, but will
continue to help you with all the preparations.

Do you have anything specific that' missing for the event where I can help?

On Sun, Jan 18, 2015 at 1:16 AM, Gregor Elke notifications@github.com
wrote:

[2015-01-18 22:20] fgnass commented on #18
Meeting for lunch on Friday would work for me. Schanzenviertel at 13:00?

[2015-01-19 09:02] greelgorke commented on #18
@robertkowalski i can't be at the nodeschool also, but i though you will. well then it's a bit off to involve you with the stuff ;)

@fgnass lets meet then.

@codingCookie are you there at nodeschool?

[2015-01-28 17:04] mdunisch commented on #18
All Ticket are sold right now. Do we have enough mentors?

[2015-01-28 19:52] greelgorke commented on #18
not really. if you can get some, go on. we need a few more

On Wed, Jan 28, 2015 at 6:04 PM, Martin notifications@github.com wrote:

[2015-01-28 23:00] robertkowalski commented on #18
https://twitter.com/robinson_k/status/560573115948756993

[2015-01-29 07:36] greelgorke commented on #18
sponsoring is complete

[2015-02-12 11:57] Stoffo opened #23 "Join"
Hello! :)

[2015-02-12 11:58] lange-stefan commented on #5
Hello :)

[2015-02-12 11:58] #23 closed

[2015-03-30 08:00] #21 closed

[2015-03-30 08:01] #18 closed

[2015-03-30 20:07] greelgorke opened #24 "Office Hour Announcement"
My Office Hour will be at

wednesday 1. April 17-18 o'clock in [Campus Suite Gänsemarkt](https://www.google.de/maps/place/Campus+Suite+-+Valentinskamp/@53.5556748,9.986655,20z/data=!4m2!3m1!1s0x0000000000000000:0xad3a5a9fe0052c1d)

[2015-03-30 20:12] greelgorke commented on #19
i just started. it should be just an issue per hour with location and time, marked with the label. see #24

[2015-03-30 20:15] greelgorke opened #25 "JSUnconf Nodeschool Anyone?"
The JSUnconf is on the horizon, so probably it would be nice to do a nodeschool then. i know about the js code retreat on friday before the event. so any suggestions @nodeschool/hamburg-mentors ?

[2015-03-30 20:15] robertkowalski commented on #24
awesome! sadly i am quite busy this & next month... can you post a short summary how it went? thank you <3

[2015-03-30 20:39] robertkowalski commented on #25
I can help regarding promo :)

[2015-03-30 20:40] robertkowalski commented on #25
sorry for not mentoring again, but i am organizing the unconf

[2015-04-01 00:43] finnp commented on #25
I don't have a ticket yet. But I wanted to come to Hamburg for it. Would be nice to have a nodeschool.

[2015-04-01 21:23] finnp commented on #25
Okay I am in. I would prefer Fri-Sun as a date, but maybe I can also arrange Thursday or Monday. Not sure yet.

[2015-04-02 08:28] chieftecho commented on #5
Hi

[2015-04-02 08:40] peeping4dsun opened #26 "Hi!"

[2015-04-02 15:49] makst commented on #5
Hi!

[2015-04-02 18:29] greelgorke commented on #26
you're in

[2015-04-02 18:29] #26 closed

[2015-04-06 17:30] ghost commented on #5
Hi!

[2015-04-17 10:21] filtercake opened #27 "nodeschool International Day May 23"
![image](https://cloud.githubusercontent.com/assets/170145/7200265/9118ee28-e4fb-11e4-93df-5c16543cc12b.png)

Just got the basic ok that we could do an [international day event](http://nodeschool.io/#international) at Jimdo :)

initial thoughts

- Since weekend, let's start late at 12h. That also implies that there is no lunch at the event.
- 30 to 50 attendees (learners)
- Some snacks in the afte

[2015-04-17 11:12] finnp commented on #27
You should totally do something for international day :) I'm currently planning for Berlin as well.

@greelgorke You are printing the stickers in Hamburg, right? Maybe we could do a badge of stickers for Berlin and Hamburg. I already asked DigitalOcean for sponsoring.

[2015-04-17 11:30] greelgorke commented on #27
@fgnass knows more about stickers printing.

Yes the international day. Would be nice to see that happen. who do want to help @nodeschool/hamburg ?

[2015-04-17 11:51] greelgorke commented on #25
screw it, i can't do it this time

[2015-04-17 12:46] schwrrring opened #28 ""HI""
Thanks for the great day at letvertise!

[2015-04-17 12:47] schwrrring opened #29 "Hi"

[2015-04-17 12:47] schwrrring commented on #5
Hi!

[2015-04-17 16:21] greelgorke commented on #28
You're welcome :)

[2015-04-17 16:21] #28 closed

[2015-04-17 16:21] #29 closed

[2015-04-17 23:57] al-2014 commented on #5
hi , i hope i can join

[2015-04-18 05:48] afknapping commented on #27
just skimmed again through https://github.com/nodeschool/hamburg/issues/11 (ticket fees).

How has it worked out at the past nodeschool hh events with no-shows? If we want to take a small ticket fee this time, it _might_ be possible to handle that through Jimdo too – at least I can ask.

[2015-04-18 13:56] afknapping commented on #27
am working on an info page for new mentors: http://filtercake.com/nodeschool.github.io/mentor-at-event.html

not done yet, but should work already...

(issue: https://github.com/nodeschool/nodeschool.github.io/issues/286)

[2015-04-19 05:56] fustic commented on #5
Hi!

[2015-04-19 08:52] afknapping commented on #27
@YildirimKaral awesome! :+1: do you want to help with orga stuff and/or do mentoring?

@fgnass would you want to take care of printing the stickers? if not, could you post info from the last sticker order at cutandprint here? (sticker specs, printing method, order nr, contact,...)

[2015-04-20 05:32] chieftecho commented on #27
I can do both.

Am 19.04.15 um 10:52 schrieb filtercake:

##

Viele Grüße,

   Yildirim

[2015-04-20 08:09] fgnass commented on #27
@filtercake sorry, I don't have the time to handle this but maybe you could ask @oleharland if he could jump in and take care of the printing. He did it last time and already [joined the discussion on twitter](https://twitter.com/oleharland/status/588967260355690496).

Regarding cutandprint: We didn't use their stickers because the quality was subpar – bad colors, heavy dithering and the cutting w

[2015-04-20 08:16] greelgorke commented on #27
@filtercake with the no-shows: we had about 50% no show rate at the first event. @fgnass should know about the second. beside that, we think the free ticketing works quite ok, if you count in the 30-50% no-shows. Though the charge-and-refund model might work as well, if you are not afraid of handling money. this was the main issue for us so far: we don't want to handle money, without a legal backi

[2015-04-20 08:16] greelgorke commented on #5
@all please check your invites, there are a few pending invitations

[2015-04-20 08:20] fgnass commented on #27
The no-show rate for the 2nd event was around 30%.

[2015-04-20 08:22] greelgorke commented on #27
i can setup tito for the event, if needed

[2015-04-20 09:55] al-2014 commented on #27
please guys right down what's needed and deadlines and i maybe can help u in something

[2015-04-20 09:56] al-2014 commented on #27
am new to this event never participated before.

[2015-04-20 10:10] al-2014 commented on #5
@greelgorke  i didn't get any invitations

[2015-04-20 10:20] greelgorke commented on #5
here is the screenshot of current  pendings:

![pendings](https://cloud.githubusercontent.com/assets/2396468/7228257/8bccc54e-e757-11e4-9353-03b9463f34d9.png)

[2015-04-20 10:29] al-2014 commented on #5
Opps , i found it :D thanks

[2015-04-20 17:33] afknapping commented on #27
thx for the feedback, all!

@fgnass: asked stickma, heard good things about them. What size are the HH stickers?

@greelgorke: +1 for tito page. also actually found that invite mail, thx for the hint! :)

@al-2014 awesome! :+1: do you want to help with orga stuff and/or do mentoring?

---

So I guess we can keep tickets free and savely overbook 30% to make up for no-shows. Will give an update when

[2015-04-20 18:44] fgnass commented on #27
Here are the .ai and .eps versions of the nodeschool Hamburg stickers as reference: https://cloudup.com/cF3OoZnLYA0

According to [the specs](http://terinjokes.github.io/StickerConstructorSpec/#hexagon-sticker) the largest diagonal of the hexagon has to be 5.08cm.

[2015-04-21 22:34] al-2014 commented on #27
@filtercake tell me what is needed and sure i can help. I want to know the date of the event ?

[2015-04-22 19:31] finnp commented on #27
I ordered 100 international day stickers from Japan. I can send you 50 of them, when they arrive.

[2015-04-23 10:53] x12390 commented on #5
Hi

[2015-04-24 09:55] oleharland commented on #27
I can check if i can provide a location here in Hamburg Altona http://www.werkheim-hamburg.de/

[2015-04-24 10:29] oleharland commented on #27
I just saw that I am to late but I can also offer a location here in altona if you want to check it out.

http://www.werkheim-hamburg.de/

Also if you need any help feel free to ask.

[2015-04-25 09:45] skrings commented on #5
Hi!

[2015-04-26 07:05] ghost commented on #27
Yeah to know a date would be awesome. I'd love to participate and hhopefully finally understand node

[2015-04-26 07:37] afknapping commented on #27
International day is Saturday May 23

[2015-04-26 07:44] afknapping commented on #27
@oleharland 👍 would you want to do photos at the event? Re werkheim: thx for the offer. having  it at jimdo makes organizing a lot easier though, so i'd prefer to stick with it :)

@finnp thx, we might also print a batch of stickers, will let you know.

[2015-04-26 08:13] oleharland commented on #27
@filtercake I don't know if I will attend because the Werkheim is occupied that day with the hackathon from the geekettes an I maybe attend there.

Maybe next time.

[2015-04-26 08:26] finnp commented on #27
@filtercake That's cool in case one of the prints fails :)

[2015-04-26 17:59] mayainle commented on #5
Hi :)

[2015-04-27 13:15] thisiswhatwemake commented on #5
hi :)

[2015-04-27 17:20] cf-ssharma commented on #5
Bitte.

[2015-04-27 21:28] greelgorke commented on #5
please check your invitations, people. still have 6+ pending invites

[2015-04-27 22:35] shobhitsharma commented on #5
Meh!

[2015-04-28 05:41] herzi commented on #5
Hej hej.

[2015-04-28 08:15] klyrr commented on #5
Moin!

[2015-04-28 08:31] hanshnrch commented on #5
Maybe I don't understand the system of registration...

[2015-04-28 09:04] x3ro commented on #5
Hi :horse:

[2015-04-28 18:13] greelgorke commented on #5
@hanshnrch what exactly is the issue? githubs teams and access system?

please note: if you join us in this repo, you are becoming a part of the nodeschool community in hamburg and overall. this is not a registration thread for the upcoming event. this will be handled separately.

[2015-04-29 18:39] robin-drexler commented on #5
hi

[2015-05-01 10:44] afknapping commented on #27
Some updates...

This is the space:

![image](https://cloud.githubusercontent.com/assets/170145/7429037/d23a83b2-effa-11e4-8608-6c4e6f9b42a7.png)
- fridge with softdrinks ✔️
- beamer ✔️
- we can offer 50 seats for attendees. overbooking 30% because noshows would result in 65 attendee tickets
- while our guest wifi usually works, I've started to talk to folks if we can start using [Freifunk](https:

[2015-05-01 13:14] ghost commented on #5
Hi

[2015-05-01 14:16] filtercake opened #30 "Mentors: please RSVP for May 23"
Hi @nodeschool/hamburg!

If you can mentor on

- Saturday May 23
- 11:00 to 15:00

please answer in this thread with **yes**. If you want to mentor but are unsure yet if you can make it, please answer with **maybe**.

---
**Looking for info what mentoring actually means?** => See http://nodeschool.io/mentor-at-event.html

---

- The event will take please in the area of [Altona/Bahrenfeld](https:/

[2015-05-01 17:08] herzi commented on #30
yes

[2015-05-01 19:39] robin-drexler commented on #30
yes

[2015-05-02 02:32] web-dave commented on #5
Hi

[2015-05-02 06:44] ghost commented on #5
Hi

Von meinem iPhone gesendet

[2015-05-02 10:32] chieftecho commented on #30
yes

Am 01.05.15 um 16:16 schrieb filtercake:

##

Viele Grüße,

   Yildirim

[2015-05-03 21:18] andycarnect commented on #5
Hi

[2015-05-04 11:45] x3ro commented on #30
yes

[2015-05-04 11:58] moxiaomomo commented on #5
Hi

[2015-05-05 20:46] bruderstein commented on #30
yes!

[2015-05-05 20:46] bruderstein commented on #5
hi :)

[2015-05-06 07:26] greelgorke commented on #27
@filtercake 1:5 to 1:10 is acceptable. depends on the public though.

do you still need the tito page?

[2015-05-08 11:26] skrings commented on #30
~~maybe~~ yes

[2015-05-11 07:40] afknapping commented on #27
@greelgorke "you"? you're not taking part? :)  however, yes please set it up and post the link, i'll update the next event section on nodeschool/hamburg then...

[2015-05-11 08:02] ghost commented on #27
Do I need to get somehow a ticket for this event? How can I get my hands on one? I'd love to come and learn node.

[2015-05-11 08:05] afknapping commented on #27
@sebastian301082 awesome! :) we'll have the ticket link up soon...

[2015-05-11 12:21] greelgorke commented on #27
@filtercake i wont be able to participate, sorry about that.

however here is the tito page:

https://ti.to/nodeschool-hamburg/international-day

i need your mail address to add you to tito team, so you can change the details and access the attenders list

[2015-05-11 13:39] afknapping commented on #27
@greelgorke thx! `fabian at superpursuitmo.de`

[2015-05-11 14:40] greelgorke commented on #27
@filtercake tap you're in

[2015-05-12 20:45] sas05 commented on #5
hi

[2015-05-13 08:32] salzig commented on #30
yes

[2015-05-13 08:37] YildirimKaral commented on #27
thanks @greelgorke <https://github.com/greelgorke> ! |yildirim at karal
dot eu|

Am 11.05.15 um 14:21 schrieb Gregor Elke:

--
Viele Grüße,

   Yildirim

[2015-05-13 10:33] afknapping commented on #27
@greelgorke thx!

and one last update: we will not do childcare this time :/ lots of unclear questions about insurance and other legal stuff. but: it got us started to work on it and we have commitment to offer that for upcoming events, so hopefully next time.

[2015-05-13 11:04] afknapping commented on #27
[draft for the ticket page. I had people ask me about the laptop thing, so I included it...]

---

**Die NodeSchool eine Veranstaltung um mit anderen Interessierten gemeinsam Node.js und JavaScript zu lernen - ganz einfach mit kleinen "Programmier-Spielen".**

**Learn Node.js and JavaScript together with interactive open source courses and helping mentors.**

+++ Just in case: You _need_ to bring

[2015-05-13 11:26] afknapping commented on #27
Ok, please help to get the word out everyone :)

Here's a copy-paste ready tweet template:

[code]

[2015-05-13 11:29] afknapping commented on #30
hey all, awesome you're helping out! :)

please click a mentor ticket at https://ti.to/nodeschool-hamburg/international-day

and it would be nice if you could help spread the word: https://github.com/nodeschool/hamburg/issues/27#issuecomment-101631960

[2015-05-18 06:46] afknapping commented on #27
Tickets are going away a bit slow, so I'm going to post the following at several usergroups today...

---

Hey everyone!

Just wanted to let you know that there is a NodeSchool event coming up this Saturday, May 23. If you ever wanted to look into Node.js, grab a free ticket at (url).

Have a great week, hope to see you on Saturday!

[2015-05-18 07:38] ghost commented on #27
How much of the event will be in English? Some friends doesn't speak German but consider to come as well.

[2015-05-18 08:01] afknapping commented on #27
@sebastian301082 usually at these kinds of events, we ask at the beginning if anyone prefers english and if one person does, well, then the speaking language is english. we also usually prepare any handouts or slides in english for that case. so, yes, please ping them to attend :)

[2015-05-18 08:19] ghost commented on #27
@filtercake Thank you!!!

[2015-05-18 11:19] sas05 commented on #27
I wish workshop will be in English

[2015-05-21 01:13] chopwasabi opened #32 "Just my 2 cents"
2¢

[2015-05-22 09:16] #32 closed

[2015-05-23 08:10] chieftecho commented on #27
Hi all,
I'm very sorry that I can't participate today, but we have an emergency in the family, and I have to take care of the kids!

Wish you a lot of fun.

Best, Yildirim

[2015-05-23 08:52] bruderstein commented on #27
I'm going to be late. Should be there about 11:30. Ersatzverkehr, Ersatzverkehr, überall Ersatzverkehr!

[2015-05-26 06:56] ghost commented on #27
Big thank you to all the mentors and organizers. This was an really helpful event. Keep on doing events like this.

THANK YOU!!!!!

[2015-05-27 07:00] afknapping commented on #27
@sebastian301082 thx Sebastian :)

[2015-05-28 19:43] jonathanglasmeyer commented on #5
hi! this sounds interesting! :)

[2015-05-29 06:03] afknapping commented on #27
So that went well except for having very few attendees (probably mostly due to Pfingstwochenende). We're shooting to have another one at Jimdo on Sat Oct 10.

---

![image](https://cloud.githubusercontent.com/assets/170145/7877292/24e223ba-05d9-11e5-81c0-159075cd8632.png)

![image](https://cloud.githubusercontent.com/assets/170145/7877294/2b2d70d0-05d9-11e5-92ed-fcec1370614e.png)

[2015-05-29 06:03] #27 closed

[2015-05-29 06:16] greelgorke commented on #27
Nice !

[2016-01-11 09:43] #30 closed

[2016-01-11 09:43] #25 closed

[2016-01-11 09:43] #19 closed

[2016-01-11 09:43] #24 closed

[2016-01-28 14:14] greelgorke opened #33 "NodeSchool In April around JSUnconfEU"
So lets do this again on April. Though the Unconf is on weekend i'm thinking about Fryday before that, or a Weekend before or after that

Suggestions?

[2016-01-28 14:33] afknapping commented on #33
+1 for friday (evening) before unconf

Can ask if jimdo can sponsor location unless another is in place already...

[2016-01-28 16:46] bruderstein commented on #33
It would be good to do it really close, like the Friday, such that people visiting could join in. Just need to coordinate with @zaubernerd if there's going to be a code retreat on the same day.

[2016-01-28 19:33] sebs commented on #33
I heard something and would help hosting that or even kickstarting another thing along side.

[2016-01-29 14:57] tvonhacht commented on #5
Hi :)

[2016-07-19 11:17] dthuesen commented on #5
Hi and hello for joining...

[2017-02-27 19:57] mattme opened #34 "Is there an additional event planned?"
Hello everyone,
I recently got into programming JavaScript (and NodeJS) as a hobby and stumbled upon Nodeschool. Are there any plans for an event in 2017? Is the Hamburg chapter still alive? I'm willing to help.

[2017-02-27 20:44] sebs commented on #34
We could hold another all javascript "Coderetreat" if you like. We can do that one or two days. It's about time we do that again

[2017-02-27 21:49] sebs opened #35 "Hamburg JSCoderetreat"
# location

* 20-30 people with 15 computers
* wifi
* place for a buffet and breakout
* coffeemachine of quality

# materials

* breakfast for abt. 25 peple
* ca. 25 Pizza or Buffet
* Coffee
* Cold Drinks
* Snacks

[2017-02-28 17:17] matthrz commented on #34
Sounds good. I think one day would be enough for a (re-)start.
Unfortunately I'm too much of a beginner myself in order to mentor anyone.
But maybe I can help in some other way. Is there anyone else interested in
a new edition of the event?

[2017-02-28 17:57] sebs commented on #34
I am sure, we will get a full one.  I already opened a ticket and pinged some of the usual suspects.

[2017-04-07 14:47] greelgorke commented on #35
@sebs hows it going? its been awhile

[2017-08-31 10:46] #35 closed

[2017-08-31 10:47] #34 closed

[2017-08-31 10:47] #33 closed

[2017-08-31 10:49] greelgorke opened #36 "2. of October: Open Nodeschool"
i just started. https://nodeschool.io/hamburg/

I have a location, Still needed:

- [ ] Food Sponsor
- [ ] Mentors
- [ ] Spreading the news

ping @nodeschool/hamburg